<div class="container">
  <div class="row row-content">

    <% current_name = URI.decode(request.original_url.split('/')[-1]).split("?")[0] %>
    <% current_name == 'catalog' ? new_class = 'col-xs-12' : new_class = 'hidden-xs' %>
    <div class="<%= new_class %> col-sm-4 col-md-3">
      <%= render 'products/list' %>
    </div>

    <% unless current_page?(catalog_path) %>
        <% current_name= my_gsub_out(current_name) %>
        <% arr = @products.select { |x| x.name == current_name } %>


        <div class="col-xs-12 col-sm-8 col-md-9">
          <div class="col-xs-12">
            <div class="col-xs-12 col-sm-4">
              <h1 class="productTitle"><%= current_name %></h1>
            </div>
            <div class="col-xs-12 col-sm-8">
              <%  pics = arr.each{ |x| x.img }.reject { |x| x.nil?} %>
              <%  if pics.any?  %>
              <%  pic = pics.last.img%>
              <%= image_tag(pic, :border => 0, :class => "img-responsive") unless pic == nil %>
              <% end%>
            </div>
          </div>


          <div class="col-xs-12" style="overflow-x:auto;">
            <table class="sort-table">
              <thead>
              <tr>
                <th><%= sortable_catalog 'material', 'Материал', current_name %></th>
                <th><%= sortable_catalog 'type_wood', 'Порода', current_name %></th>
                <th><%= sortable_catalog 'processing', 'Обработка', current_name %></th>
                <th><%= sortable_catalog 'size', 'Размер', current_name %></th>
                <th><%= sortable_catalog 'sort', 'Сорт', current_name %></th>
                <th><%= sortable_catalog 'price', 'Цена', current_name %></th>
                <th><%= sortable_catalog 'unit', 'Ед. изм', current_name %></th>
              </tr>
              </thead>
              <tbody>
              <% arr.each do |product| %>
                  <tr class=<%= cycle('even', 'odd') %>>
                    <td><%= product.material %></td>
                    <td><%= product.type_wood %></td>
                    <td><%= product.processing %></td>
                    <td>
                      <% siz = product.size %>
                      <% if siz != nil  %>
                      <% product.size.split('; ').each do |x| %>
                          <li><%= x.lstrip %></li>
                      <% end %>
                      <% else %>
                      <%= %>
                      <% end %>
                    </td>
                    <td><%= product.sort %></td>
                    <td><%= product.price %></td>
                    <td><%= product.unit %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
    <% end %>

    </div>
  </div>
</div>