<div class="container">
  <div class="row row-content">
    <div class="hidden-xs col-sm-4 col-md-3">
      <%= render 'products/list' %>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-9">
      <% current_name = URI.decode(request.original_url.split('/')[-1]) %>
      <%if current_name != 'catalog' %>
      <h1><%= current_name %></h1>
      <%= image_tag("logomin.png", :border => 0, :style => 'height: 250px;') %>

      <% arr = Product.select('*').where(name: current_name) %>
      <table id="offer-table">
        <thead>
        <tr class="country-table-head">
          <div class="col-xs-2">
            <th><button onclick="sortTable(0);">Материал</button></th>          </div>

          <div class="col-xs-2">
            <th><button onclick="sortTable(1);">Порода</button></th>
          </div>
          <div class="col-xs-2">
            <th><button onclick="sortTable(2);">Обработка</button></th>          </div>
          <div class="col-xs-3">
            <th><button onclick="sortTable(3);">Габариты</button></th>          </div>
          <div class="col-xs-1">
            <th><button onclick="sortTable(4);">Сорт</button></th>          </div>
          <div class="col-xs-2">
            <th><button onclick="sortTable(5);">Цена (руб.)</button></th>          </div>
          <div class="col-xs-2">
            <th><button onclick="sortTable(6);">Ед.изм</button></th>          </div>
        </tr>
        </thead>
        <tbody>
        <% arr.each do |product| %>
            <tr class=<%= cycle('even', 'odd') %>>
              <td><%= product.material %></td>
              <td><%= product.type_wood %></td>
              <td><%= product.processing %></td>
              <td><%= product.size %></td>
              <td><%= product.sort %></td>
              <td><%= product.price %></td>
              <td><%= product.unit %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
      <% end %>
  </div>
</div>