<div class="container">
  <div class="row row-content">
    <div class="hidden-xs col-sm-4 col-md-3">
      <%= render 'products/list' %>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-9">
      <% current_name = URI.decode(request.original_url.split('/')[-1]) %>
      <% unless current_page?(catalog_path) %>
          <%	current_name= current_name.gsub("_", "/").gsub("-+", "(").gsub("+-", ")") %>
          <% arr = Product.select('*').where(name: current_name) %>

            <div class="col-xs-6">
              <h1 class="productTitle"><%=current_name %></h1>
            </div>
              <div class="col-xs-6">
              <% pic = arr[0].img %>
              <%= image_tag(pic, :border => 0, :style => 'height: 220px;') unless pic == nil %>

            </div>

          <div class="col-xs-12">
            <table id="offer-table">
              <thead>
              <tr>
                  <th>
                    <button onclick="sortTable(0);">Материал</button>
                  </th>

                  <th>
                    <button onclick="sortTable(1);">Порода</button>
                  </th>

                  <th>
                    <button onclick="sortTable(2);">Обработка</button>
                  </th>

                  <th>
                    <button onclick="sortTable(3);">Габариты</button>
                  </th>

                  <th>
                    <button onclick="sortTable(4);">Сорт</button>
                  </th>

                  <th>
                    <button onclick="sortTable(5);">Цена (руб.)</button>
                  </th>

                  <th>
                    <button onclick="sortTable(6);">Ед.изм</button>
                  </th>
              </tr>
              </thead>
              <tbody>
              <% arr.each do |product| %>
                  <tr class=<%= cycle('even', 'odd') %>>
                    <td><%= product.material %></td>
                    <td><%= product.type_wood %></td>
                    <td><%= product.processing %></td>
                    <td><%= product.size %></td>
                    <td><%= product.sort %></td>
                    <td><%= product.price %></td>
                    <td><%= product.unit %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
      <% end %>
    </div>
  </div>
</div>