<div class="container">
  <div class="row row-content">
    <div class="hidden-xs col-sm-4 col-md-3">
      <%= render 'products/list' %>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-9">
      <h1><%= current_name = URI.decode(request.original_url.split('/')[-1]) %></h1>
      <%= image_tag("logomin.png", :border => 0, :style => 'height: 250px;') %>

      <% arr = Product.select('*').where(name: current_name) %>
      <table id="country-list" class="sortable-table">
        <thead>
        <tr class="country-table-head">
          <div class="col-xs-2">
            <th class="sort-down">Материал<span>&#9660;</span></th>
          </div>

          <div class="col-xs-2">
            <th class="sort-down">Порода<span>&#9660;</span></th>
          </div>
          <div class="col-xs-2">
            <th class="sort-down">Обработка<span>&#9660;</span></th>
          </div>
          <div class="col-xs-3">
            <th class="sort-down">Габариты<span>&#9660;</span></th>
          </div>
          <div class="col-xs-1">
            <th class="sort-down">Сорт<span>&#9660;</span></th>
          </div>
          <div class="col-xs-2">
            <th class="sort-down">Цена (руб.)<span>&#9660;</span></th>
          </div>
          <div class="col-xs-2">
            <th class="sort-down">Ед. изм<span>&#9660;</span></th>
          </div>
        </tr>
        </thead>
        <tbody>
        <% arr.each do |product| %>
            <tr class=<%= cycle('even', 'odd') %>>
              <td><%= product.material %></td>
              <td><%= product.type_wood %></td>
              <td><%= product.processing %></td>
              <td><%= product.size %></td>
              <td><%= product.sort %></td>
              <td><%= product.price %></td>
              <td><%= product.unit %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>