<div class="container">
  <div class="row row-content">

    <div class="col-xs-12">
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Name:</strong>
        <%= @product.name %>
      </p>

      <p>
        <strong>Material:</strong>
        <%= @product.material %>
      </p>

      <p>
        <strong>Size:</strong>
        <%= @product.size %>
      </p>

      <p>
        <strong>Sort:</strong>
        <%= @product.sort %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= @product.price %>
      </p>

      <p>
        <strong>Unit:</strong>
        <%= @product.unit %>
      </p>

      <p>
        <strong>Img:</strong>
        <% pics = @product.img %>
        <% unless pics == nil %>
        <% pics = pics.split(";") %>
            <% pics.each do |pic| %>
                <%= image_tag(pic.strip, :style => 'height: 220px;') unless pic == nil %>
            <% end %>
        <% end %>
      </p>

      <br>
      <%= link_to 'Редактировать', edit_product_path(@product) %> |
      <%= link_to 'Назад', admin_path %>

    </div>
  </div>
</div>